In [1]:
#!pip install faker

In [2]:
import pandas as pd
import numpy as np
import random
from faker import Faker
import warnings
warnings.filterwarnings('ignore')

# Pour la reproductibilité
np.random.seed(123)
random.seed(123)
fake = Faker('fr_FR')
Faker.seed(123)

In [3]:
# Chargement du dataset déjà généré (plus rapide et stable)
df = pd.read_csv('candidats_rh_1000_REALISTIQUE.csv')

print("Dataset chargé avec succès !")
print(f"→ {df.shape[0]} candidats | {df.shape[1]} colonnes")
print(f"→ Répartition de la cible :")
print(df['performant_après_6_mois'].value_counts(normalize=True).round(3))

df.head(10)

Dataset chargé avec succès !
→ 1000 candidats | 13 colonnes
→ Répartition de la cible :
performant_après_6_mois
1    0.534
0    0.466
Name: proportion, dtype: float64

,candidat_id,nom_prénom,âge,niveau_études,spécialité,années_expérience,secteur_précédent,score_test_technique,score_softskills,langues_parlées,mobilité,disponibilité_immédiate,performant_après_6_mois
0,C0001,Roux René,25.0,Bac+3,Informatique,0.0,Santé,39.6,89.8,3,0,1.0,0
1,C0002,Fernandez Pauline,31.0,Bac,Ingénierie,1.0,Tech,NaN,87.4,2,1,1.0,0
2,C0003,Cordier René,30.0,Bac+5,Finance,NaN,Aucun,68.1,70.8,2,1,1.0,1
3,C0004,Nicolas Virginie,45.0,Bac+5,Commerce,31.0,Tech,41.8,78.6,2,1,0.0,1
4,C0005,Morel Alex,34.0,Bac+3,Data Science,1.0,NaN,19.3,54.5,1,NaN,1.0,0
5,C0006,Regnier Gabrielle,26.0,Bac+2,Data Science,4.0,Startup,9999.0,65.5,1,1,0.0,1
6,C0007,Le Roux Zacharie,24.0,Bac+3,NaN,5.0,Tech,6.1,100.0,3,0,1.0,0
7,C0008,Roux Hugues,30.0,Master,Marketing,14.0,Aucun,78.2,53.0,2,1,1.0,1
8,C0009,Dufour Yves,31.0,Bac+5,data,14.0,Consulting,89.1,53.4,1,1,1.0,1
9,C0010,Guilbert Xavier,39.0,Bac +2,Finance,10.0,Tech,67.5,77.1,3,0,0.0,1

In [4]:
print("Shape :", df.shape)
print("\nValeurs manquantes :\n", df.isna().sum())
print("\nExemples de données sales :")
df.sample(8)

Shape : (1000, 13)

Valeurs manquantes :
 candidat_id                 0
nom_prénom                  0
âge                        32
niveau_études              37
spécialité                 51
années_expérience          35
secteur_précédent          54
score_test_technique       27
score_softskills           15
langues_parlées            19
mobilité                   27
disponibilité_immédiate    13
performant_après_6_mois     0
dtype: int64

Exemples de données sales :

,candidat_id,nom_prénom,âge,niveau_études,spécialité,années_expérience,secteur_précédent,score_test_technique,score_softskills,langues_parlées,mobilité,disponibilité_immédiate,performant_après_6_mois
131,C0132,Thierry Alfred,36.0,Licence,Data Science,5.0,aucun,49.2,67.3,3,1,0.0,0
203,C0204,Lamy Benjamin,27.0,Doctorat,Finance,99.0,tech,100.0,71.4,2,0,1.0,1
50,C0051,Durand Laurent,26.0,Bac+5,Commerce,6.0,Startup,35.3,60.8,1,1,1.0,1
585,C0586,Renard Marthe,NaN,BAC+5,RH,33.0,Banque,71.2,84.5,2,0,0.0,1
138,C0139,Joubert Grégoire,31.0,Bac,Marketing,6.0,Tech,58.3,60.6,2,0,NaN,0
632,C0633,Lebreton Paulette,28.0,Bac+2,Ingénierie,11.0,Tech,31.7,57.3,2,1,1.0,0
328,C0329,Goncalves Amélie,999.0,Bac,Finance,1013.0,Consulting,100.0,82.2,2,1,1.0,1
461,C0462,Texier Louise,22.0,Bac+3,Marketing,4.0,Startup,46.0,62.9,3,1,1.0,1

In [5]:
df_clean = df.copy()

# Âge
df_clean = df_clean[(df_clean['âge'] >= 18) & (df_clean['âge'] <= 70)]
df_clean['âge'] = df_clean['âge'].fillna(df_clean['âge'].median())

# Années expérience
df_clean = df_clean[~df_clean['années_expérience'].isin([-5,-1,99,999])]
df_clean['années_expérience'] = df_clean['années_expérience'].fillna(df_clean['années_expérience'].median())

# Scores absurdes → NaN puis imputation médiane
df_clean.loc[df_clean['score_test_technique'] > 120, 'score_test_technique'] = np.nan
df_clean.loc[df_clean['score_softskills'] > 120, 'score_softskills'] = np.nan
df_clean['score_test_technique'] = df_clean['score_test_technique'].fillna(df_clean['score_test_technique'].median())
df_clean['score_softskills'] = df_clean['score_softskills'].fillna(df_clean['score_softskills'].median())

print(f"Après nettoyage → {df_clean.shape[0]} candidats conservés")

Après nettoyage → 940 candidats conservés

In [6]:
# Nettoyage texte
df_clean['niveau_études'] = df_clean['niveau_études'].astype(str).str.lower().str.strip()
df_clean['niveau_études'] = df_clean['niveau_études'].replace({'bac +2':'bac+2', 'bac+2':'bac+2', 'master':'bac+5', 'phd':'doctorat'})

df_clean['spécialité'] = df_clean['spécialité'].astype(str).str.lower().str.strip()
df_clean['spécialité'] = df_clean['spécialité'].replace({'info':'informatique', 'data':'data science'})

df_clean['secteur_précédent'] = df_clean['secteur_précédent'].astype(str).str.lower()

# Variables binaires
df_clean['mobilité'] = df_clean['mobilité'].astype(str).str.lower().map({'oui':1, '1':1, 'non':0, '0':0, 'nan':0}).fillna(0).astype(int)
df_clean['disponibilité_immédiate'] = df_clean['disponibilité_immédiate'].astype(str).map({'1':1, '0':0, 'nan':0}).fillna(0).astype(int)

# Langues
df_clean['langues_parlées'] = pd.to_numeric(df_clean['langues_parlées'], errors='coerce').fillna(2)

print("Nettoyage catégoriel terminé")

Nettoyage catégoriel terminé

In [7]:
cat_cols = ['niveau_études', 'spécialité', 'secteur_précédent']
df_encoded = pd.get_dummies(df_clean, columns=cat_cols, drop_first=True)

features = [c for c in df_encoded.columns if c not in ['candidat_id','nom_prénom','performant_après_6_mois']]
X = df_encoded[features]
y = df_encoded['performant_après_6_mois']

print(f"{X.shape[1]} variables créées après encodage")

31 variables créées après encodage

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print("Données prêtes pour le modeling !")

Données prêtes pour le modeling !

In [9]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\tahab\appdata\local\programs\python\python313\lib\site-packages (3.1.2)
Requirement already satisfied: numpy in c:\users\tahab\appdata\local\programs\python\python313\lib\site-packages (from xgboost) (2.3.3)
Requirement already satisfied: scipy in c:\users\tahab\appdata\local\programs\python\python313\lib\site-packages (from xgboost) (1.16.2)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix, f1_score

models = {
    "Régression Logistique": LogisticRegression(max_iter=1000),
    "KNN": KNeighborsClassifier(),
    "Random Forest": RandomForestClassifier(n_estimators=300, random_state=42),
    "XGBoost": XGBClassifier(eval_metric='logloss', random_state=42)
}

results = []
for name, model in models.items():
    if name in ["Régression Logistique", "KNN"]:
        model.fit(X_train_scaled, y_train)
        y_pred = model.predict(X_test_scaled)
    else:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
    
    f1 = f1_score(y_test, y_pred)
    results.append({'Modèle': name, 'F1-score': round(f1, 4)})
    print(f"\n{name} → F1-score = {f1:.4f}")

pd.DataFrame(results)

Régression Logistique → F1-score = 0.6061

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

rf = models["Random Forest"]
importances = pd.Series(rf.feature_importances_, index=features).sort_values(ascending=False)

plt.figure(figsize=(10,7))
sns.barplot(x=importances[:15], y=importances.index[:15])
plt.title("Top 15 Variables les plus importantes")
plt.xlabel("Importance")
plt.show()

print("Top 5 facteurs clés :")
importances.head(5)

In [ ]:
import joblib
from sklearn.ensemble import RandomForestClassifier

# On ré-entraîne le meilleur modèle sur TOUT le dataset propre
final_model = RandomForestClassifier(n_estimators=500, random_state=42)
final_model.fit(X, y)  # X et y = tes données nettoyées et encodées

# Sauvegarde
joblib.dump(final_model, 'modele_rh_final.pkl')
joblib.dump(scaler, 'scaler.pkl')
joblib.dump(features, 'features_list.pkl')  # pour savoir l'ordre des colonnes

print("Modèle sauvegardé → modele_rh_final.pkl")

In [ ]:
pip install -r requirements.txt

In [ ]:
uvicorn main:app --host 0.0.0.0 --port $PORT

In [ ]:
# CELLULE MIRACLE — MARCHE À 100% MÊME SI TOUT EST PERDU

import pandas as pd
import joblib
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

# 1. Recharge ton dataset nettoyé (change le chemin si besoin)
df = pd.read_csv('candidats_rh_1000_REALISTIQUE.csv')

# 2. TOUT LE NETTOYAGE EN 15 LIGNES (exactement comme avant)
df_clean = df.copy()
df_clean = df_clean[(df_clean['âge'] >= 18) & (df_clean['âge'] <= 70)]
df_clean['âge'] = df_clean['âge'].fillna(df_clean['âge'].median())
df_clean = df_clean[~df_clean['années_expérience'].isin([-5,-1,99,999])]
df_clean['années_expérience'] = df_clean['années_expérience'].fillna(df_clean['années_expérience'].median())
df_clean.loc[df_clean['score_test_technique'] > 120, 'score_test_technique'] = np.nan
df_clean.loc[df_clean['score_softskills'] > 120, 'score_softskills'] = np.nan
df_clean['score_test_technique'] = df_clean['score_test_technique'].fillna(df_clean['score_test_technique'].median())
df_clean['score_softskills'] = df_clean['score_softskills'].fillna(df_clean['score_softskills'].median())

# Nettoyage catégoriel
df_clean['niveau_études'] = df_clean['niveau_études'].astype(str).str.lower().str.strip().replace({'bac +2':'bac+2', 'master':'bac+5', 'phd':'doctorat'})
df_clean['spécialité'] = df_clean['spécialité'].astype(str).str.lower().str.strip().replace({'info':'informatique', 'data':'data science'})
df_clean['secteur_précédent'] = df_clean['secteur_précédent'].astype(str).str.lower()
df_clean['mobilité'] = df_clean['mobilité'].astype(str).str.lower().map({'oui':1, '1':1}).fillna(0).astype(int)
df_clean['disponibilité_immédiate'] = df_clean['disponibilité_immédiate'].astype(str).map({'1':1, '0':0}).fillna(0).astype(int)
df_clean['langues_parlées'] = pd.to_numeric(df_clean['langues_parlées'], errors='coerce').fillna(2)

# Encodage + X/y
df_encoded = pd.get_dummies(df_clean, columns=['niveau_études', 'spécialité', 'secteur_précédent'], drop_first=True)
features = [c for c in df_encoded.columns if c not in ['candidat_id','nom_prénom','performant_après_6_mois']]
X = df_encoded[features]
y = df_encoded['performant_après_6_mois']

# Scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Modèle final
print("Entraînement du modèle final...")
model = RandomForestClassifier(n_estimators=500, random_state=42, n_jobs=-1)
model.fit(X_scaled, y)

# SAUVEGARDE DES 3 FICHIERS
joblib.dump(model, 'modele_rh_final.pkl')
joblib.dump(scaler, 'scaler.pkl')
joblib.dump(features, 'features_list.pkl')   # ← LA LISTE EXACTE !

print("TOUT EST SAUVEGARDÉ !")
print(f"→ {len(features)} colonnes dans le modèle")
print("Télécharge les 3 fichiers et mets-les sur GitHub !")